
<p>
    <%= link_to "Back to fixtures list" , fixtures_path %> 
</p>

<center>
    <h3>
        <%= @fixture.hometeam.shortname %> 
        vs. 
        <%= @fixture.awayteam.shortname %> 
    </h3>
</center>