<div class="fixture-scoreboard-container">

	<div class="header-logo-container">
		<%= svg 'momentum-logo' %>	
	</div>

	<p>UEFA CL 2021-22 | Round of 16 - Leg 2 (agg. 3-2)</p>

	<div class="card-fixture-scorebox centered">
		<p class="hometeam">Real Madrid FC</p>
		<p class="fixturescore">2 - 1</p>
		<p class="awayteam">Paris Saint-Germain</p>
	</div>
</div>

<div class="fixture-main-container">

	<div class="fixture-left-panel-container">
		<div class="fixture-sidepanel-content">

			<div class="card-goal-listing">
				<div class="card-goal-listing-scorer">
					<p>Kylian <l class="surname">M'Bappé</l></p>
					<p class="card-goal-listing-details">47' for PSG</p>
				</div>
				<div class="card-goal-listing-scorebox">0-1</div>
			</div>

			<div class="card-goal-listing card-goal-listing-activated">
				<div class="card-goal-listing-scorer">
					<p>Kylian <l class="surname">M'Bappé</l></p>
				</div>
				<div class="card-goal-listing-scorebox card-goal-listing-scorebox-activated">1-2</div>
			</div>

		</div>
	</div>

	<div class="fixture-central-panel">
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>

		<div class="footer-logo-container">
			<%= svg 'momentum-footer-logo'%>
		</div>
	</div>

	<div class="fixture-right-panel-container">
		<div class="fixture-sidepanel-content">

			<div class="card-event-details">

				<div class="card-event-row">
					<p class="card-event-detail-type">Time</p>
					<p class="card-event-detail-value">29'</p>
				</div>

				<div class="card-event-row">
					<p class="card-event-detail-type">Distance</p>
					<p class="card-event-detail-value">10 meters</p>
				</div>

				<div class="card-event-row">
					<p class="card-event-detail-type">Assitance</p>
					<div class="card-event-detail-value">
						<p>@Neymar Jr.</p>
						<p>@Di Maria</p>
					</div>
				</div>

				<div class="card-event-row last-row">
					<div class="card-event-label">Counter attack</div>
					<div class="card-event-label">Right foot</div>
				</div>

				<div class="card-event-cage">
					<%= svg 'fixture-cage' %>	
				</div>
			</div>


		</div>
	</div>

</div>

