<div class="fixture-scoreboard-container">
	<div class="card-fixture-scorebox">
		<p class="hometeam">Real Madrid FC</p>
		<p class="fixturescore">2 - 1</p>
		<p class="awayteam">Paris Saint-Germain</p>
	</div>
</div>

<div class="fixture-main-container">

	<div class="fixture-left-panel-container">
		<div class="fixture-sidepanel-content">
			left panel content
		</div>
	</div>

	<div class="fixture-central-panel">
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
	</div>

	<div class="fixture-right-panel-container">
		<div class="fixture-sidepanel-content">
			right panel content
		</div>
	</div>

</div>

