<div class="fixture-scoreboard-container">

	<div class="logo">
		<%= svg 'momentum-logo' %>	
	</div>

	<p>UEFA CL 2021-22 | Round of 16 - Leg 2 (agg. 3-2)</p>

	<div class="card-fixture-scorebox centered">
		<p class="hometeam">Real Madrid FC</p>
		<p class="fixturescore">2 - 1</p>
		<p class="awayteam">Paris Saint-Germain</p>
	</div>
</div>

<div class="fixture-main-container">

	<div class="fixture-left-panel-container">
		<div class="fixture-sidepanel-content">
			left panel content
		</div>
	</div>

	<div class="fixture-central-panel">
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
	</div>

	<div class="fixture-right-panel-container">
		<div class="fixture-sidepanel-content">
			right panel content
		</div>
	</div>

</div>

