<div class="fixture-scoreboard-container">

	<div class="header-logo-container">
		<%= svg 'momentum-logo' %>	
	</div>

	<p>UEFA CL 2021-22 | Round of 16 - Leg 2 (agg. 3-2)</p>

	<div class="card-fixture-scorebox centered">
		<p class="hometeam">Real Madrid FC</p>
		<p class="fixturescore">2 - 1</p>
		<p class="awayteam">Paris Saint-Germain</p>
	</div>
</div>

<div class="fixture-main-container">

	<div class="fixture-left-panel-container">
		<div class="fixture-sidepanel-content">
			left panel content
		</div>
	</div>

	<div class="fixture-central-panel">
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>
		<div class="card-goal-details">
			goal details card
		</div>

		<div class="footer-logo-container">
			<%= svg 'momentum-footer-logo'%>
		</div>
	</div>

	<div class="fixture-right-panel-container">
		<div class="fixture-sidepanel-content">

			<div class="event-side-details">

				<div class="event-content-row">
					<p class="event-detail-type">Time</p>
					<p class="event-detail-value">29'</p>
				</div>

				<div class="event-content-row">
					<p class="event-detail-type">Distance</p>
					<p class="event-detail-value">10 meters</p>
				</div>

				<div class="event-content-row">
					<p class="event-detail-type">Assitance</p>
					<div class="event-detail-value">
						<p>@Neymar Jr.</p>
						<p>@Di Maria</p>
					</div>
				</div>

				<div class="event-content-row">
					<div class="label-event-type">Counter attack</div>
					<div class="label-event-type">Right foot</div>
				</div>

				<div class="cage">
					<%= svg 'fixture-cage' %>	
				</div>
			</div>


		</div>
	</div>

</div>

