<br>

<h2>Staging page:</h2>

<center>

<div style="border: 1px solid grey; width:482px; height:312px">

<svg width="482" height="312">


	

	<line x1="29%" y1="100%" x2="23%" y2="60%" stroke="#3B3B3B" stroke-width="1" display="inline" stroke-linecap="round" marker-end="url(#arrowhead)"></line>


	<line x1="23%" y1="60%" x2="32%" y2="30%" stroke="#3B3B3B" stroke-width="1" stroke-dasharray="4" display="inline" stroke-linecap="round" marker-end="url(#arrowhead)"></line>


	<line x1="32%" y1="30%" x2="45%" y2="0%" stroke="#3B3B3B" stroke-width="1" display="inline" stroke-linecap="round" marker-end="url(#arrowhead)"></line>


	


	<style>
	    .small { font-size: 11px; font-weight: bold; text-align: center; }
	    .shadow {-webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .3));}
  	</style>


  	<line x1="80%" y1="10%" x2="90%" y2="80%" stroke="url('#myGradient')" stroke-width="1" stroke-dasharray="4" display="inline" stroke-linecap="round"></line>



  	<g fill="#3419DF" class="shadow">
	    <circle cx="90%" cy="40%" r="9" /></circle>
		<text x="90%" y="40%" class="small" fill="white" dominant-baseline="middle" text-anchor="middle">17</text>
	</g>



	<g fill="pink" class="shadow" >
	    <circle id="round1" cx="70%" cy="20%" r="9" /></circle>
		<text id="numberinround1" x="70%" y="20%" class="small" fill="white" dominant-baseline="middle" text-anchor="middle">23</text>

		<animate xlink:href="#round1" attributeName="cx" fill="freeze" from="70%" to="90%" dur="1s" begin="nextbutton.click" />
		<animate xlink:href="#round1" attributeName="cy" fill="freeze" from="20%" to="60%" dur="1s" begin="nextbutton.click" />
		<animate xlink:href="#numberinround1" attributeName="x" fill="freeze" from="70%" to="90%" dur="1s" begin="nextbutton.click" />
		<animate xlink:href="#numberinround1" attributeName="y" fill="freeze" from="20%" to="60%" dur="1s" begin="nextbutton.click" />

		<animate xlink:href="#round1" attributeName="cx" fill="freeze" from="90%" to="40%" dur="1s" begin="nextbutton2.click" />
		<animate xlink:href="#round1" attributeName="cy" fill="freeze" from="60%" to="50%" dur="1s" begin="nextbutton2.click" />
		<animate xlink:href="#numberinround1" attributeName="x" fill="freeze" from="90%" to="40%" dur="1s" begin="nextbutton2.click" />
		<animate xlink:href="#numberinround1" attributeName="y" fill="freeze" from="60%" to="50%" dur="1s" begin="nextbutton2.click" />
	</g>


	<circle cx="96%" cy="50%" r="17" fill="yellow" id="nextbutton"/></circle>
	<circle cx="96%" cy="60%" r="17" fill="yellow" id="nextbutton2"/></circle>


	<g fill="green" class="shadow" >
	   	<circle id="round2" cx="23%" cy="60%" r="9" /></circle>
		<text id="numberinround2" x="23%" y="60%" class="small" fill="white" dominant-baseline="middle" text-anchor="middle">32</text>
		<animate xlink:href="#round2" attributeName="cx" fill="freeze" from="23%" to="32%" dur="1s" begin="nextbutton.click" />
		<animate xlink:href="#round2" attributeName="cy" fill="freeze" from="60%" to="30%" dur="1s" begin="nextbutton.click" />
		<animate xlink:href="#numberinround2" attributeName="x" fill="freeze" from="23%" to="32%" dur="1s" begin="nextbutton.click" />
		<animate xlink:href="#numberinround2" attributeName="y" fill="freeze" from="60%" to="30%" dur="1s" begin="nextbutton.click" />
	</g>


	

	<defs>
	    <linearGradient id="myGradient" gradientTransform="rotate(90)">
	      <stop offset="3%"  stop-color="white" />
	      <stop offset="100%" stop-color="pink" />
	    </linearGradient>

	    <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
	      <polygon points="0 0, 10 3.5, 0 7" />
	    </marker>
	  </defs>







</svg>

</div>

</center>