<div class="admin-main-container">


	<%= render 'shared/vipnavbar'%>

	<div class="admin-right-frame">

		<%= render 'shared/viprightframeheader'%>

		<div class="admin-right-frame-content">
			

		</div>
	</div>

</div>