<div class="admin-main-container">


	<%= render 'shared/vipnavbar'%>

	<div class="admin-right-frame">

		<div class="admin-right-frame-content">



<h2>All competitions in DB</h2>

<% @competitions.each do |compet| %>
	<%= compet.id %> • <%= compet.name %> (<%= compet.country %>) <br>
<%end%>

			

		</div>
	</div>

</div>