<div class="admin-main-container">


	<%= render 'shared/vipnavbar'%>

	<div class="admin-right-frame">
		
		<%= render 'shared/viprightframeheader'%>

		<div class="admin-right-frame-content">



<h2>All eventtypes in DB</h2>

<% @eventtypes.each do |eventtype| %>
    <%= eventtype.id %>
    •
    <%= eventtype.description %>
    <br>
<%end%>


		</div>
	</div>

</div>