<div class="admin-main-container">


	<%= render 'shared/vipnavbar'%>

	<div class="admin-right-frame">
		
		<%= render 'shared/viprightframeheader'%>

		<div class="admin-right-frame-content">




<h2>All positions in DB</h2>

<% @positions.each do |position| %>
    <%= position.id %>
    • <%= position.family %> <br>
<%end%>


		</div>
	</div>

</div>