<div class="admin-main-container">


	<%= render 'shared/vipnavbar'%>

	<div class="admin-right-frame">
		
		<%= render 'shared/viprightframeheader'%>
		
		<div class="admin-right-frame-content">




<h2>All seasons in DB</h2>

<% @seasons.each do |season| %>
    <%= season.id %> • <%= season.year %> <br>
<%end%>


		</div>
	</div>

</div>