.fixture-scoreboard-container{
	background-color: var(--white);

	position:fixed;
	z-index: 48;
	top: 15px;
    left:0;
    right:0;
    text-align: center;

	padding: 20px 0 20px 0; /* ⚠️ change margin of .fixture-main-container & .fixture-sidepanel-content as well*/
}

.centered{
	margin: 0 auto;
}

.logo{
	margin: 20px 0 50px 0;
}

.fixture-scoreboard-container > p{
	color: var(--gray);
	margin-top: 20px;
	margin-bottom: 15px;
}

/* ############################ */

.fixture-main-container{
	/*background-color: yellow;*/

	width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items : stretch; /*Force items to take all flebox height*/
	margin: 217px auto; /* ⚠️ hange margin of .fixture-sidepanel-content as well*/
}

/* ############################ */

.fixture-left-panel-container, .fixture-right-panel-container{
	/*background-color: green;*/

	width: 270px;
}

.fixture-sidepanel-content{
	/*background-color: lightsalmon;*/

	position: sticky;
	top: 217px; /* ⚠️ change margin of .fixture-main-container as well*/
}

/* ############################ */

.fixture-central-panel{
	/*background-color: orange;*/

	width: 460px;
}