.fixture-scoreboard-container{
	background-color: var(--white);

	position:fixed;
	z-index: 48;
	top: 15px;
    left:0;
    right:0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.40); 
	box-shadow: 0px 0px 25px 8px white;

	padding: 20px 0 20px 0; /* ⚠️ change margin of .fixture-main-container & .fixture-sidepanel-content as well*/
}

.centered{
	margin: 0 auto;
}

.bottom-offset{
	margin-bottom: 20px !important;
}

.header-logo-container{
	margin: 20px 0 40px 0;
}

.fixture-scoreboard-container > p{
	color: var(--gray);
	margin-top: 20px;
	margin-bottom: 15px;
}

/* ############################ */

.fixture-main-container{
	/*background-color: yellow;*/

	width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items : stretch; /*Force items to take all flexbox height*/
	margin: 217px auto; /* ⚠️ Change margin of .fixture-sidepanel-content as well*/
	margin-bottom: 0 !important;

}

.footer-logo-container{
	/*background-color: hotpink;*/

	width: 100px;
	height: 55px;
	text-align: center;
	margin: 0 auto;
	bottom: 0px;
}

/* ############################ */

.fixture-left-panel-container, .fixture-right-panel-container{
	/*background-color: green;*/

	width: 270px;
}

.fixture-sidepanel-content{
	/*background-color: lightsalmon;*/

	position: sticky;
	padding-top: 50px;
	top: 217px; /* ⚠️ change margin of .fixture-main-container as well*/
}

/* ############################ */

.fixture-central-panel{
	/*background-color: orange;*/

	position: relative;
	width: 460px;
	padding-top: 50px;
	margin-bottom: 10px;
}