.btn-primary{
	background-color: var(--pink);
	border-radius: 30px;
	padding: 5px 30px;
	color: var(--black);
	text-decoration: none;
	font-weight: 600;
	/*font-size: 10px;*/
	transition: 0.2s;
	text-align: center;
}

.remove-devise-submit-btn-design{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.devise-primary-margin{
	margin: 20px 0;
}

.btn-primary:hover{
	color: var(--white);
	cursor: pointer;
}

.btn-secondary{
	background-color: var(--white);
	border: 1px solid var(--light-gray);
	border-radius: 30px;
	padding: 5px 30px;
	color: var(--gray);
	text-decoration: none;
	font-weight: 600;
	/*font-size: 10px;*/
	transition: 0.2s;
}

.btn-secondary:hover{
	background-color: var(--light-gray);
	color: var(--pink);
	border-color: var(--pink);
	cursor: pointer;
}

.btn-tertiary{
	background-color: var(--light-gray);
	border-radius: 30px;
	padding: 5px 25px;
	font-weight: 600;
	transition: 0.2s;
}

.btn-tertiary:hover{
	cursor: pointer;
	background-color: var(--medium-gray);
}

.btn-test{
	cursor: pointer;
	background-color: var(--white);
	padding: 7px 20px;
	border-radius: 4px;
	font-weight: 600;
	color: var(--gray);
	border: 1px solid var(--medium-gray);
	display: block; /*To make it work with logout helper link*/
}

.btn-test:hover{
	opacity: 0.8;
}

.admin-menu-item{
	/*background-color: rebeccapurple;*/

	padding: 7px 20px;
	margin: 0 20px;
	border-radius: 4px;
	transition: 0.2s;
	font-weight: 600;
	text-align: left;
	text-decoration: none !important;
	color: var(--black);
}

.admin-menu-item:hover{
	background-color: var(--medium-gray);
	cursor: pointer;
	
}

.admin-menu-item:visited{
	text-decoration: none !important;
}

.sub-link{
	font-size: 10px;
	color: var(--gray);
}

.sub-link:hover{
	color: var(--black);	
}