:root {
  --light-gray: #f7f7f7;
  --light-plus-gray: #EAEAEA; /*only used in sub pitch badge*/
  --medium-gray: #d7d7d7;
  --gray: #737577;
  --white: #ffffff;
  --pink: #FF2D55;
  --black: #000000;
  --device-red-alert: #e80039;
  --device-green-notice: #00e879;
  --dark-green: #83CA6C;
}